.nav-container--menu_task{
    position: absolute;
    z-index: 20;
    background-color: #424242;
    width: 100%;
    height: 100%;
}

.nav-container--menu_task li{
    height: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    color: #eee;
    cursor: pointer;
    transition: .5s;
}

.nav-container--menu_task li:hover{
    background-color: #606060;
    transition: .5s;
}

.nav-container--menu_task li i{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container--menu_task li p{
    display: flex;
    align-items: center;
}

.nav-container--menu_task ul{
    padding: 10px 0;
}

.nav-container--menu_task ul:nth-child(2){
    border-top: 1px solid #595959;
}

.nav-container--menu_task-task{
    display: grid;
    grid-template-columns:70% 15% 15% !important;
}

.nav-container--menu_task-task i{
    transition: .3s;
}
.nav-container--menu_task-task i:nth-child(2):hover{
    transition: .3s;
    color: rgba(113, 122, 241, 0.644);
}
.nav-container--menu_task-task i:nth-child(3):hover{
    transition: .3s;
    color: rgba(241, 113, 113, 0.644);
}
.nav-container--menu_task-task p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container--menu_task .taskForm li{
    height: 100%;
}

.nav-container--menu_task .taskForm li:hover{
    background-color: transparent;
    cursor: auto;
}

.nav-container--menu_task .taskForm input{
    height: min-content;
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #595959;
    padding: 10px;
    color: #fff;
}

.nav-container--menu_task .taskForm input:focus{
    outline: none;
}