
.nav-container--bars{
    /* background-color: #333; */
    cursor: pointer;
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    -webkit-box-shadow: inset 0px 0px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 22px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 22px -6px rgba(0,0,0,0.75);
}

.nav-container--menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #424242;
    width: 25vw;
    height: 100vh;
    z-index: 1000000000000;
    overflow: hidden;
}

.nav-container--menu_close{
    color: #eee;
    font-size: 20px;
    width: 100%;
    background-color: #606060;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 2px solid #595959;
}

.nav-container--menu_close i{
    padding: 5px;
    cursor: pointer;
}

/*MENU PRINCIPAL*/
.nav-container--menu_main-menu{
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #424242;

}

.nav-container--menu_main-menu li{
    height: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    color: #eee;
    cursor: pointer;
    transition: .5s;
}

.nav-container--menu_main-menu li:hover{
    background-color: #606060;
    transition: .5s;
}

.nav-container--menu_main-menu li i{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container--menu_main-menu li p{
    display: flex;
    align-items: center;
}

.nav-container--menu_main-menu ul{
    padding: 10px 0;
}

.nav-container--menu_main-menu ul:nth-child(2){
    border-top: 1px solid #595959;
}
/*MENU PRINCIPAL*/







/*Modifiación tiempo de animaciones*/
.animate__animated.animate__slideInLeft,
.animate__animated.animate__slideOutLeft{
    --animate-duration: .5s;
}
